
<section class="errorpage">
    <v-layout justify-center>
        <v-flex md8>
          <v-card>
            <v-toolbar class="primary">
              <h1 class="headline white--text text-xs-center fw">
                Oops... Something went wrong
              </h1>
            </v-toolbar>
            <v-form>
              <v-card-text>
                <p>We didn't got a redirect url or state.</p>
                <p>Please try again</p>
              </v-card-text>
            </v-form>
          </v-card>
        </v-flex>
      </v-layout>
</section>

