<section class="register">
  <!-- <v-progress-linear style="position:fixed; top:0; left: 0;" class="ma-0" indeterminate> -->
  </v-progress-linear>
  <v-layout justify-center class="pt-4">
    <v-flex md8>
      <v-card>
        <v-toolbar class="primary">
          <h1 class="headline white--text text-xs-center fw">
            Registration
          </h1>
        </v-toolbar>
        <v-stepper v-model="step">
          <v-stepper-header class="elevation-0">
            <v-stepper-step :complete="step > 1" step="1">Personal info</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step :complete="step > 2" step="2">Your key</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="3">Finishing</v-stepper-step>
          </v-stepper-header>
          <v-stepper-items>
            <v-stepper-content step="1">
              <p class="title">Tell me more about yourself</p>
              <p class="subheading">
                Later i'll ask you for more info here.</br>
                This time you get a free pass.
              </p>
              <v-layout>
                <v-spacer />
                <v-btn color="primary" @click="step++">
                  Continue
                </v-btn>
              </v-layout>
            </v-stepper-content>
            <v-stepper-content step="2">
              <p class="title">This will be your (little) secret</p>
              <p class="subheading">
                Please write this on a piece of paper and keep it in a secure place. <br>
                This is the only time you'll see this.
              </p>
              <v-textarea readonly v-model="privateKey" box label="Key"></v-textarea>
              <v-layout>
                <v-spacer />
                <v-btn color="primary" @click="step++">
                  Continue
                </v-btn>
              </v-layout>
            </v-stepper-content>
            <v-stepper-content step="3">
              <v-layout justify-center>
                <div class="text-xs-center">
                  <vue-qr text="Hello world!"></vue-qr>
                  <p>Scan this QR with the 3Bot app to finish registration</p>
                </div>
              </v-layout>
            </v-stepper-content>
          </v-stepper-items>
        </v-stepper>
      </v-card>
    </v-flex>
  </v-layout>
</section>