<section class="login">
  <v-layout justify-center>
    <v-flex md8>
      <v-card>
        <v-toolbar class="primary">
          <h1 class="headline white--text text-xs-center fw">
            Logging in
          </h1>
        </v-toolbar>
        <v-form>
          <v-card-text>
            <v-layout column align-center>
              <v-progress-circular :size="100" :width="15" color="accent" indeterminate></v-progress-circular>
              <p class="subheading pt-3">Please check your phone.</p>
              <v-btn class="accent" @click="resendNotification" v-if="!firstTime">
                <v-icon left>
                  refresh
                </v-icon>
                Resend notification
              </v-btn>
            </v-layout>
          </v-card-text>
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
</section>